<footer>

	<p class="dancing">Dimitri Mikadze</p>

	<div class="social-icons">
		<a href="https://twitter.com/DimitriMikadze" target="_blank">
			<i class="fa fa-twitter-square"></i>
		</a>	
		<a href="https://github.com/DimitriMikadze" target="_blank">
			<i class="fa fa-github-square"></i>
		</a>
		<a href="https://www.linkedin.com/profile/view?id=344970142" target="_blank">
			<i class="fa fa-linkedin-square"></i>
		</a>
		<a href="https://www.facebook.com/Ditmens" target="_blank">
			<i class="fa fa-facebook-square"></i>
		</a>
	</div>

</footer>

</body>
</html>