/* Main Color Variables */
$black:                             #111111;
$white:                             #ffffff;
$red:                               #e63d3d;
$dark-red:                          #b70000;
$light-gray:						#cccccc;