<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/demos/vanillaSlideshow.css">
    <title>Vanilla Javascript CSS3 Fullscreen Responsive Slideshow</title>

    <meta property="og:type" content="website" />   
    <meta property="og:title" content="Vanilla Javascript CSS3 Responsive Fullscreen Slideshow - Dimitri Mikadze" />
    <meta property="og:url" content="http://dimitrimikadze.com/demos/vanilla-slideshow" />
    <meta property="og:description" content="Easy to use Pure javascript and CSS3 Responsive Fullscreen Slideshow" />
    <meta property="og:image" content="" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-65974710-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>

<div id="vanilla-slideshow-container">

    <a href="https://github.com/DimitriMikadze/vanilla-slideshow">
        <img src="/images/demos/vanilla-slideshow/github.png" alt="github link" id="fork-me">
    </a>

    <h1>Vanilla Javascript CSS3 Fullscreen Responsive Slideshow</h1>
    <a href="/download-vanilla-slideshow" id="download">Download</a>

    <div id="vanilla-slideshow">

        <div class="vanilla-slide">
            <img src="/images/demos/vanilla-slideshow/tiger1.jpg" alt="tiger">
            <h3>No libraries required</h3>
        </div>

        <div class="vanilla-slide" >
            <img src="/images/demos/vanilla-slideshow/tiger2.jpg" alt="tiger">
            <h3>Very lightweight</h3>
        </div>

        <div class="vanilla-slide" >
            <img src="/images/demos/vanilla-slideshow/tiger3.jpg" alt="tiger">
            <h3>CSS3 Transitions</h3>
        </div>

        <div class="vanilla-slide" >
            <img src="/images/demos/vanilla-slideshow/tiger4.jpg" alt="tiger">
            <h3>Responsive</h3>
        </div>

    </div>

    <!-- slideshow indicators -->
    <div id="vanilla-indicators"></div>

    <!-- slideshow arrows -->
    <div id="vanilla-slideshow-previous">
        <img src="/images/demos/vanilla-slideshow/arrow-previous.png" alt="slider arrow">
    </div>
    <div id="vanilla-slideshow-next">
        <img src="/images/demos/vanilla-slideshow/arrow-next.png" alt="slider arrow">
    </div>

</div>

<script src="/js/demos//vanillaSlideshow.min.js"></script>
<script>
    vanillaSlideshow.init({
        slideshow: true,
        delay: 5000,
        arrows: true,
        indicators: true,
        random: false,
        animationSpeed: '1s'
    });
</script>
</body>
</html>